@import "tailwindcss";

html {
    --base-content-size-factor: 0.93;

    --base-content-size: calc(var(--base-content-size-factor) * 1vw);

    --duration: 3.5s;
    --max-scale: 1.5;
    --easing: cubic-bezier(.22,.9,.35,1);
}

@media (max-width: 640px) {
    html {
        --base-content-size-factor: 0.95;
    }
}

#content-top {
    width: calc(var(--base-content-size-factor) * 100%);
}

#content-text-main {
    font-weight: bolder;
    font-size: calc(var(--base-content-size) * 4.9);
    margin-bottom: calc(var(--base-content-size) * 3);
}

#beatmaps-cards {
        box-shadow:
                calc(3 * var(--base-content-size))
                calc(5 * var(--base-content-size))
                calc(9 * var(--base-content-size))
                calc(4 * var(--base-content-size))
                rgba(168,85,247,0.6);
}

#beatmaps-params {
    font-size: calc(var(--base-content-size) * 1.27);
}

#pp-text {
    font-size: calc(var(--base-content-size) * 1.6);
    backface-visibility: hidden;
}

#content-left {
    padding-top: calc(var(--base-content-size) * 6);
}

@layer utilities {
}

.typewrite-cards {
    backface-visibility: hidden;
}

.deep-info-block {
    @apply
        relative
        left-1/2 -translate-x-1/2
        inline-block whitespace-nowrap
        font-bold
        border border-white;

    border-width: calc(var(--base-content-size) * 0.2);
    background: linear-gradient(180deg, #7c35fd, #9039f4, #a323ee);
    padding: calc(var(--base-content-size) * 0.595) calc(var(--base-content-size) * 0.893);
    font-size: calc(var(--base-content-size) * 1.1);
    border-radius: calc(var(--base-content-size) * 1.1);
}



.btn-pulse {
    will-change: transform, opacity;
    animation: growFade var(--duration) var(--easing) infinite;
}

.animated-btn {
    position: relative;
}

.animated-btn::before {
    content: "";
    position: absolute;
    inset: -10px;
    z-index: -1;

    background: radial-gradient(
            ellipse at center,
            rgba(140, 0, 255, 0.4) 0%,
            rgba(140, 0, 255, 0.2) 40%,
            rgba(140, 0, 255, 0.1) 70%,
            rgba(140, 0, 255, 0) 100%
    );

    border-radius: calc(1rem + 10px);

    filter: blur(1px);
    will-change: transform, opacity, filter;

    animation: growFade var(--duration) var(--easing) infinite;
    pointer-events: none;
}


@keyframes growFade {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    70% {
        transform: scale(calc(var(--max-scale) * 0.9));
        opacity: 0;
    }

    100% {
        transform: scale(var(--max-scale));
        opacity: 0;
    }
}
